Repository ronen-fr/ceph, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ceph/dashboard, @ceph/orchestrators, @ceph/ceph-volume

.github/CODEOWNERS:

# Dashboard team to review dashboard related code
/src/pybind/mgr/dashboard                       @ceph/dashboard
/qa/suites/rados/dashboard                      @ceph/dashboard
/qa/tasks/mgr/test_dashboard.py                 @ceph/dashboard
/qa/tasks/mgr/dashboard                         @ceph/dashboard
/monitoring/grafana                             @ceph/dashboard
/monitoring/prometheus                          @ceph/dashboard
/doc/mgr/dashboard.rst                          @ceph/dashboard

# For Orchestrator related PRs
/src/ceph-daemon                                @ceph/orchestrators
/src/pybind/mgr/ansible                         @ceph/orchestrators
/src/pybind/mgr/orchestrator_cli                @ceph/orchestrators
/src/pybind/mgr/orchestrator.py                 @ceph/orchestrators
/src/pybind/mgr/rook                            @ceph/orchestrators
/src/pybind/mgr/ssh                             @ceph/orchestrators
/src/pybind/mgr/test_orchestrator               @ceph/orchestrators
/src/python-common/ceph/deployment              @ceph/orchestrators
/qa/standalone/test_ceph_daemon.sh              @ceph/orchestrators
/qa/tasks/mgr/test_orchestrator_cli.py          @ceph/orchestrators
/doc/mgr/orchestrator_cli.rst                   @ceph/orchestrators
/doc/mgr/orchestrator_modules.rst               @ceph/orchestrators

#ceph-volume
/src/ceph-volume                                @ceph/ceph-volume
/doc/ceph-volume                                @ceph/ceph-volume

librbd: stash unmodified include_parent value in DiffContext
  src/librbd/api/DiffIterate.cc
Owners: none

qa: add test for concurrent snap creates
  qa/tasks/cephfs/test_snap_schedules.py
Owners: none

mgr/snap_schedule: fix db connection concurrent usage
  src/pybind/mgr/snap_schedule/fs/schedule.py
  src/pybind/mgr/snap_schedule/fs/schedule_client.py
Owners: none

mgr/volumes: Fix clone uid/gid mismatch
  src/pybind/mgr/volumes/fs/async_cloner.py
Owners: none

v. 0
  src/test/osd/CMakeLists.txt
  src/test/osd/test_scrubber_be.cc
Owners: none

mgr/dashboard: fix table padding in review section
  src/pybind/mgr/dashboard/frontend/src/styles/vendor/_style-overrides.scss
Owners: @ceph/dashboard

auth,mon: don't log "unable to find a keyring" error when key is given
  src/auth/KeyRing.cc
  src/mon/Monitor.cc
Owners: none

ceph-volume: honour osd_dmcrypt_key_size option
  src/ceph-volume/ceph_volume/tests/util/test_encryption.py
  src/ceph-volume/ceph_volume/util/encryption.py
Owners: @ceph/ceph-volume

ceph-volume/activate: load the config from lv tag
  src/ceph-volume/ceph_volume/devices/lvm/activate.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_activate.py
Owners: @ceph/ceph-volume

osd/scrub: cleanup scrubber-be's usage of the size-of-disk service
  src/osd/scrubber/scrub_backend.cc
Owners: none

osd/scrub: fix some scrubber-backend formatting
  src/osd/scrubber/scrub_backend.cc
Owners: none

osd/scrub: clean-up scrubber-be interfaces
  src/osd/PG.h
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/scrub_backend.cc
  src/osd/scrubber/scrub_backend.h
Owners: none

osd/scrub: make the scrubber-be the sole owner of the authoritative set
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/scrub_backend.cc
  src/osd/scrubber/scrub_backend.h
Owners: none

osd/scrub: remove I/O (store) direct access from the Scrubber Backend
  src/osd/scrubber/ScrubStore.cc
  src/osd/scrubber/ScrubStore.h
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/pg_scrubber.h
  src/osd/scrubber/scrub_backend.cc
  src/osd/scrubber/scrub_backend.h
Owners: none

osd/scrub: remove I/O (store) direct access from the Scrubber Backend
  src/osd/scrubber/ScrubStore.cc
  src/osd/scrubber/ScrubStore.h
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/pg_scrubber.h
  src/osd/scrubber/scrub_backend.cc
  src/osd/scrubber/scrub_backend.h
Owners: none

osd/scrub: cleanup scrubber-be's usage of the size-of-disk service
  src/osd/scrubber/scrub_backend.cc
Owners: none

Split from "osd/scrub: clean-up scrubber-be interfaces"
  src/osd/scrubber/pg_scrubber.cc
Owners: none

osd/scrub: clean-up scrubber-be interfaces
  src/osd/PG.h
  src/osd/scrubber/scrub_backend.cc
  src/osd/scrubber/scrub_backend.h
Owners: none

osd/scrub: make the scrubber-be the sole owner of the authoritative set
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/scrub_backend.cc
  src/osd/scrubber/scrub_backend.h
Owners: none

osd/scrub: fix some scrubber-backend formatting
  src/osd/scrubber/scrub_backend.cc
Owners: none

osd/scrub: cleanup scrubber-be's usage of the size-of-disk service
  src/osd/scrubber/scrub_backend.cc
Owners: none

osd/scrub: make the scrubber-be the sole owner of the authoritative set
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/scrub_backend.cc
  src/osd/scrubber/scrub_backend.h
Owners: none

osd/scrub: fix some scrubber-backend formatting
  src/osd/scrubber/scrub_backend.cc
Owners: none

osd/scrub: remove I/O (store) direct access from the Scrubber Backend
  src/osd/scrubber/ScrubStore.cc
  src/osd/scrubber/ScrubStore.h
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/pg_scrubber.h
  src/osd/scrubber/scrub_backend.cc
  src/osd/scrubber/scrub_backend.h
Owners: none

osd/scrub: clean-up scrubber-be interfaces
  src/osd/PG.h
  src/osd/scrubber/scrub_backend.cc
  src/osd/scrubber/scrub_backend.h
Owners: none

osd/scrub: clean-up scrubber-be interfaces
  src/osd/PG.h
  src/osd/scrubber/scrub_backend.cc
  src/osd/scrubber/scrub_backend.h
Owners: none

osd/scrub: remove I/O (store) direct access from the Scrubber Backend
  src/osd/scrubber/ScrubStore.cc
  src/osd/scrubber/ScrubStore.h
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/pg_scrubber.h
  src/osd/scrubber/scrub_backend.cc
  src/osd/scrubber/scrub_backend.h
Owners: none

osd/scrub: cleanup scrubber-be's usage of the size-of-disk service
  src/osd/scrubber/scrub_backend.cc
Owners: none

osd/scrub: fix some scrubber-backend formatting
  src/osd/scrubber/scrub_backend.cc
Owners: none

osd/scrub: make the scrubber-be the sole owner of the authoritative set
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/scrub_backend.cc
  src/osd/scrubber/scrub_backend.h
Owners: none

osd/scrub: fix some scrubber-backend formatting
  src/osd/scrubber/scrub_backend.cc
Owners: none

osd/scrub: remove I/O (store) direct access from the Scrubber Backend
  src/osd/scrubber/ScrubStore.cc
  src/osd/scrubber/ScrubStore.h
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/pg_scrubber.h
  src/osd/scrubber/scrub_backend.cc
  src/osd/scrubber/scrub_backend.h
Owners: none

osd/scrub: make the scrubber-be the sole owner of the authoritative set
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/scrub_backend.cc
  src/osd/scrubber/scrub_backend.h
Owners: none

Split from "osd/scrub: remove I/O (store) direct access from the Scrubber Backend"
  src/osd/PG.h
  src/osd/scrubber/scrub_backend.cc
  src/osd/scrubber/scrub_backend.h
Owners: none

osd/scrub: cleanup scrubber-be's usage of the size-of-disk service
  src/osd/scrubber/scrub_backend.cc
Owners: none

osd/scrub: clean-up scrubber-be interfaces
  src/osd/scrubber/scrub_backend.cc
  src/osd/scrubber/scrub_backend.h
Owners: none

osd/scrub: cleanup scrubber-be's usage of the size-of-disk service
  src/osd/scrubber/scrub_backend.cc
Owners: none

osd/scrub: fix some scrubber-backend formatting
  src/osd/PG.h
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/scrub_backend.cc
Owners: none

mon: prevent new sessions during shutdown
  src/mon/Monitor.cc
Owners: none

temp
  src/osd/OSD.cc
  src/test/osd/TestOSDScrub.cc
  src/test/osd/test_scrubber_be.cc
Owners: none
