Repository ronen-fr/ceph, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ceph/dashboard, @ceph/orchestrators, @ceph/ceph-volume

librados/IoCtxImpl: apply extra_op_flags to watches and notifies
  src/librados/IoCtxImpl.cc
Owners: none

neorados: always apply per-Op op flags
  src/neorados/RADOS.cc
Owners: none

neorados: introduce per-IOContext op flags
  src/include/neorados/RADOS.hpp
  src/neorados/RADOS.cc
  src/test/librados_test_stub/NeoradosTestStub.cc
Owners: none

librbd: propagate CEPH_OSD_FLAG_FULL_TRY from IoCtx to IOContext
  src/include/rados/librados.hpp
  src/librados/librados_cxx.cc
  src/librbd/ImageCtx.cc
  src/test/librbd/test_librbd.cc
Owners: none

librbd: honor FUA op flag for write_same() in write-around cache
  src/librbd/cache/WriteAroundObjectDispatch.cc
  src/test/librbd/cache/test_mock_WriteAroundObjectDispatch.cc
Owners: none

librbd: preserve CEPH_OSD_FLAG_FULL_TRY in create_ioctx()
  src/librbd/Utils.cc
  src/librbd/image/OpenRequest.cc
  src/test/librbd/test_librbd.cc
Owners: none

test/librados_test_stub: add IoCtx::{set,get}_pool_full_try() stubs
  src/test/librados_test_stub/LibradosTestStub.cc
Owners: none

test: fix valgrind.supp path in run-rbd-valgrind-unit-tests.sh
  src/test/run-rbd-valgrind-unit-tests.sh
Owners: none

test/librbd: set FUA on writes in remove_full_try()
  src/test/librbd/test_librbd.cc
Owners: none

test/librbd: don't run RemoveFullTry tests with persistent writeback cache
  src/test/librbd/test_librbd.cc
Owners: none

qa/suites/rbd: whitelist POOL_FULL due to quota for test_librbd.sh
  qa/suites/crimson-rados/rbd/tasks/rbd_api_tests_old_format.yaml
  qa/suites/rbd/basic/tasks/rbd_api_tests_old_format.yaml
  qa/suites/rbd/librbd/workloads/c_api_tests.yaml
  qa/suites/rbd/librbd/workloads/c_api_tests_with_defaults.yaml
  qa/suites/rbd/librbd/workloads/c_api_tests_with_journaling.yaml
  qa/suites/rbd/thrash/workloads/rbd_api_tests.yaml
  qa/suites/rbd/thrash/workloads/rbd_api_tests_copy_on_read.yaml
  qa/suites/rbd/thrash/workloads/rbd_api_tests_journaling.yaml
  qa/suites/rbd/thrash/workloads/rbd_api_tests_no_locking.yaml
  qa/suites/rbd/valgrind/workloads/c_api_tests.yaml
  qa/suites/rbd/valgrind/workloads/c_api_tests_with_defaults.yaml
  qa/suites/rbd/valgrind/workloads/c_api_tests_with_journaling.yaml
  qa/suites/smoke/basic/tasks/test/rbd_api_tests.yaml
Owners: none

rgw: fix reshard cancelling race condition
  src/rgw/rgw_rados.cc
  src/rgw/rgw_reshard.cc
Owners: none

ceph-volume: remove --root param from nsenter cmd
  src/ceph-volume/ceph_volume/process.py
Owners: @ceph/ceph-volume

cephadm: pass `CEPH_VOLUME_SKIP_RESTORECON=yes`
  src/cephadm/cephadm
Owners: none

rgw: deleting objects inline in case bypass_gc is specified for bucket remove command.
  src/rgw/rgw_multi.cc
  src/rgw/rgw_rados.h
Owners: none

mgr/dashboard: cluster expansion wizard branding changes
  src/pybind/mgr/dashboard/frontend/src/app/shared/constants/app.constants.ts
  src/pybind/mgr/dashboard/frontend/src/assets/Logo-RedHat-Hat-Color-RGB.png
  src/pybind/mgr/dashboard/frontend/src/styles/vendor/_style-overrides.scss
Owners: @ceph/dashboard

monitoring/grafana: Grafana query tester
  monitoring/grafana/dashboards/.pylintrc
  monitoring/grafana/dashboards/CMakeLists.txt
  monitoring/grafana/dashboards/requirements-lint.txt
  monitoring/grafana/dashboards/tests/__init__.py
  monitoring/grafana/dashboards/tests/features/__init__.py
  monitoring/grafana/dashboards/tests/features/ceph-cluster.feature
  monitoring/grafana/dashboards/tests/features/environment.py
  monitoring/grafana/dashboards/tests/features/hosts_overview.feature
  monitoring/grafana/dashboards/tests/features/self.feature
  monitoring/grafana/dashboards/tests/features/steps/__init__.py
  monitoring/grafana/dashboards/tests/requirements.txt
  monitoring/grafana/dashboards/tests/util.py
  monitoring/grafana/dashboards/tox.ini
  src/pybind/mgr/dashboard/ci/check_grafana_dashboards.py
Owners: @ceph/dashboard

mgr/dashboard: disable Promql test in ARM
  monitoring/grafana/dashboards/CMakeLists.txt
Owners: @ceph/dashboard

mgr/dashboard: introduce HAProxy metrics for RGW
  monitoring/grafana/dashboards/jsonnet/grafana_dashboards.jsonnet
  monitoring/grafana/dashboards/radosgw-overview.json
  monitoring/grafana/dashboards/tests/features/radosgw_overview.feature
Owners: @ceph/dashboard

mgr/dashboard: Implement drain host functionality in dashboard
  src/pybind/mgr/dashboard/ci/cephadm/ceph_cluster.yml
  src/pybind/mgr/dashboard/controllers/host.py
  src/pybind/mgr/dashboard/frontend/cypress/integration/cluster/hosts.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/01-hosts.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/02-create-cluster-add-host.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/06-cluster-check.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/hosts.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/hosts.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/host.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/host.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/constants/app.constants.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/orchestrator.enum.ts
  src/pybind/mgr/dashboard/openapi.yaml
  src/pybind/mgr/dashboard/services/orchestrator.py
  src/pybind/mgr/dashboard/tests/test_host.py
Owners: @ceph/dashboard

mgr/dashboard: dashboard does not show degraded objects if they are less than 0.5% under "Dashboard->Capacity->Objects block
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/health/health.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/health/health.component.ts
Owners: @ceph/dashboard

mgr/dashboard: introduce seperate frontend component for API docs
  src/pybind/mgr/dashboard/controllers/docs.py
  src/pybind/mgr/dashboard/frontend/angular.json
  src/pybind/mgr/dashboard/frontend/src/app/app-routing.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/api-docs/api-docs.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/api-docs/api-docs.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/api-docs/api-docs.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/dashboard-help/dashboard-help.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation.module.ts
  src/pybind/mgr/dashboard/frontend/src/styles/bootstrap-extends.scss
  src/pybind/mgr/dashboard/frontend/src/styles/ceph-custom/_basics.scss
Owners: @ceph/dashboard

rgw: `radosgw-admin bucket stats` on indexless bucket crashes
  src/rgw/rgw_bucket.cc
Owners: none

rgw/beast: add max_header_size option with 16k default, up from 4k
  doc/radosgw/frontends.rst
  src/rgw/rgw_asio_frontend.cc
Owners: none

rgw: fix rgw.none statistics
  src/cls/rgw/cls_rgw.cc
Owners: none

cls/rgw: helpers take const input params
  src/cls/rgw/cls_rgw.cc
Owners: none

cls/rgw: add complete_remove_obj() helper for remove_objs
  src/cls/rgw/cls_rgw.cc
Owners: none

cls/rgw: index cancelation still cleans up remove_objs
  src/cls/rgw/cls_rgw.cc
Owners: none

rgw/rados: index transactions pass remove_objs to cancel() too
  src/rgw/rgw_rados.cc
  src/rgw/rgw_rados.h
Owners: none

mds: ensure that we send the btime in cap messages
  src/mds/CInode.cc
Owners: none

rgw: resharding causes bucket attributes to be lost
  src/rgw/rgw_admin.cc
  src/rgw/rgw_reshard.cc
  src/rgw/rgw_reshard.h
Owners: none

rgw: save bucket instance xattrs when resharding cancelled
  src/rgw/rgw_rados.cc
  src/rgw/rgw_reshard.cc
  src/rgw/rgw_reshard.h
Owners: none

mgr/cephadm: Use downstream haproxy and keepalived images
  src/cephadm/cephadm
  src/pybind/mgr/cephadm/module.py
Owners: none

rgw: use tenant id from the uri on anonymous access
  src/rgw/rgw_rest_swift.cc
Owners: none

rgw: fix up etags upon reading
  src/rgw/rgw_rados.cc
  src/rgw/rgw_tools.cc
  src/rgw/rgw_tools.h
Owners: none

rgw: remove unused routine in rgw_admin
  src/rgw/rgw_admin.cc
Owners: none

rgw: etag handling - do not append nul here.
  src/rgw/rgw_op.cc
Owners: none

rgw: defensive etag handling fixes
  src/rgw/rgw_rados.cc
Owners: none

rgw: refactor and revise tag fixes
  src/rgw/rgw_tools.cc
  src/rgw/rgw_tools.h
Owners: none

rgw: fix etags for multipart uploads too
  src/rgw/rgw_tools.cc
Owners: none

.github/CODEOWNERS:

# Dashboard team to review dashboard related code
/src/pybind/mgr/dashboard                       @ceph/dashboard
/qa/suites/rados/dashboard                      @ceph/dashboard
/qa/tasks/mgr/test_dashboard.py                 @ceph/dashboard
/qa/tasks/mgr/dashboard                         @ceph/dashboard
/monitoring/grafana                             @ceph/dashboard
/monitoring/prometheus                          @ceph/dashboard
/doc/mgr/dashboard.rst                          @ceph/dashboard

# For Orchestrator related PRs
/src/ceph-daemon                                @ceph/orchestrators
/src/pybind/mgr/ansible                         @ceph/orchestrators
/src/pybind/mgr/orchestrator_cli                @ceph/orchestrators
/src/pybind/mgr/orchestrator.py                 @ceph/orchestrators
/src/pybind/mgr/rook                            @ceph/orchestrators
/src/pybind/mgr/ssh                             @ceph/orchestrators
/src/pybind/mgr/test_orchestrator               @ceph/orchestrators
/src/python-common/ceph/deployment              @ceph/orchestrators
/qa/standalone/test_ceph_daemon.sh              @ceph/orchestrators
/qa/tasks/mgr/test_orchestrator_cli.py          @ceph/orchestrators
/doc/mgr/orchestrator_cli.rst                   @ceph/orchestrators
/doc/mgr/orchestrator_modules.rst               @ceph/orchestrators

#ceph-volume
/src/ceph-volume                                @ceph/ceph-volume
/doc/ceph-volume                                @ceph/ceph-volume
