Repository ronen-fr/ceph, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ceph/dashboard, @ceph/orchestrators, @ceph/ceph-volume

.github/CODEOWNERS:

# Dashboard team to review dashboard related code
/src/pybind/mgr/dashboard                       @ceph/dashboard
/qa/suites/rados/dashboard                      @ceph/dashboard
/qa/tasks/mgr/test_dashboard.py                 @ceph/dashboard
/qa/tasks/mgr/dashboard                         @ceph/dashboard
/monitoring/grafana                             @ceph/dashboard
/monitoring/prometheus                          @ceph/dashboard
/doc/mgr/dashboard.rst                          @ceph/dashboard

# For Orchestrator related PRs
/src/ceph-daemon                                @ceph/orchestrators
/src/pybind/mgr/ansible                         @ceph/orchestrators
/src/pybind/mgr/orchestrator_cli                @ceph/orchestrators
/src/pybind/mgr/orchestrator.py                 @ceph/orchestrators
/src/pybind/mgr/rook                            @ceph/orchestrators
/src/pybind/mgr/ssh                             @ceph/orchestrators
/src/pybind/mgr/test_orchestrator               @ceph/orchestrators
/src/python-common/ceph/deployment              @ceph/orchestrators
/qa/standalone/test_ceph_daemon.sh              @ceph/orchestrators
/qa/tasks/mgr/test_orchestrator_cli.py          @ceph/orchestrators
/doc/mgr/orchestrator_cli.rst                   @ceph/orchestrators
/doc/mgr/orchestrator_modules.rst               @ceph/orchestrators

#ceph-volume
/src/ceph-volume                                @ceph/ceph-volume
/doc/ceph-volume                                @ceph/ceph-volume

rt3 ministore stashed on 16/2/22
  qa/standalone/ceph-helpers.sh
  qa/standalone/scrub/osd-scrub-test.sh
  src/osd/PG.h
  src/osd/PeeringState.cc
  src/osd/osd_types.cc
  src/osd/osd_types_fmt.h
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/pg_scrubber.h
  src/osd/scrubber/scrub_backend.h
Owners: none

osd/scrub: fix some scrubber-backend formatting
  src/osd/PG.h
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/scrub_backend.cc
Owners: none

osd/scrub: remove I/O (store) direct access from the Scrubber Backend
  src/osd/scrubber/ScrubStore.cc
  src/osd/scrubber/ScrubStore.h
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/pg_scrubber.h
  src/osd/scrubber/scrub_backend.cc
  src/osd/scrubber/scrub_backend.h
Owners: none

osd/scrub: cleanup scrubber-be's usage of the size-of-disk service
  src/osd/scrubber/scrub_backend.cc
Owners: none

osd/scrub: make the scrubber-be the sole owner of the authoritative set
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/scrub_backend.cc
  src/osd/scrubber/scrub_backend.h
Owners: none

osd/scrub: clean-up scrubber-be interfaces
  src/osd/scrubber/scrub_backend.cc
  src/osd/scrubber/scrub_backend.h
Owners: none

mgr/dashboard: change privacy protocol field from required to optional
  src/pybind/mgr/dashboard/frontend/cypress/integration/cluster/services.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/05-services.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.ts
Owners: @ceph/dashboard

mgr/dashboard: add validation for snmp v3 engine id
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.ts
Owners: @ceph/dashboard

rgw: return OK on consecutive complete-multipart reqs
  src/rgw/rgw_op.cc
  src/rgw/rgw_op.h
Owners: none

osd/scrub: cluster-logging unsolicited DigestUpdate events
  src/osd/scrubber/PrimaryLogScrub.cc
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/pg_scrubber.h
  src/osd/scrubber/scrub_machine.cc
  src/osd/scrubber/scrub_machine_lstnr.h
Owners: none

temp - the digest update fix
  src/osd/scrubber/PrimaryLogScrub.cc
Owners: none

mgr/cephadm: allow miscellaneous container args at service level
  doc/cephadm/services/index.rst
  src/cephadm/cephadm
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/services/cephadmservice.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/tests/test_services.py
  src/pybind/mgr/orchestrator/_interface.py
  src/python-common/ceph/deployment/service_spec.py
Owners: @ceph/orchestrators

mgr/cephadm/iscsi: use `mon_command` in `post_remove` instead of `check_mon_command`
  src/pybind/mgr/cephadm/services/iscsi.py
Owners: none

cephadm: enable autotune for `osd_memory_target` by default
  src/cephadm/cephadm
Owners: none

mgr/cephadm/inventory: remove unused `filter_by_label`
  src/pybind/mgr/cephadm/inventory.py
Owners: none

mgr/cephadm: Raise errors to properly set a cli status code
  src/pybind/mgr/cephadm/module.py
Owners: none

mgr/cephadm: Add client.admin keyring when upgrading from older version
  qa/suites/orch/cephadm/mgr-nfs-upgrade/4-final.yaml
  src/pybind/mgr/cephadm/migrations.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/tests/fixtures.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/tests/test_migration.py
Owners: none

mgr/cephadm: serve.py: put _calc_client_files into it's own method
  src/pybind/mgr/cephadm/serve.py
Owners: none

mgr/cephadm: serve.py: put _write_client_files into it's own method
  src/pybind/mgr/cephadm/serve.py
Owners: none

mgr/cephadm: store contianer registry credentials in config-key
  doc/cephadm/install.rst
  qa/suites/orch/cephadm/mgr-nfs-upgrade/4-final.yaml
  src/cephadm/cephadm
  src/pybind/mgr/cephadm/migrations.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
Owners: none

mgr/volumes: Inherit file quota attr to clone
  src/pybind/mgr/volumes/fs/async_cloner.py
Owners: none

qa: Validate file quota attrs on clone subvolume
  qa/tasks/cephfs/test_volumes.py
Owners: none

rbd-mirror: synchronize with in-flight stop in ImageReplayer::stop()
  src/test/rbd_mirror/test_mock_ImageReplayer.cc
  src/tools/rbd_mirror/ImageReplayer.cc
Owners: none

rbd-mirror: manual stop should take precedence over regular stop
  src/tools/rbd_mirror/ImageReplayer.cc
Owners: none

rbd-mirror: straighten ImageReplayer::stop() a bit
  src/test/rbd_mirror/test_mock_ImageReplayer.cc
  src/tools/rbd_mirror/ImageReplayer.cc
  src/tools/rbd_mirror/ImageReplayer.h
Owners: none

rbd-mirror: turn m_on_stop_finish into a list of Contexts
  src/tools/rbd_mirror/ImageReplayer.cc
  src/tools/rbd_mirror/ImageReplayer.h
Owners: none

mgr/cephadm: Fix count for OSDs with OSD specs
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/tests/fixtures.py
Owners: none

cephadm: _parse_ipv6_route: Fix parsing ifs w/o route
  src/cephadm/cephadm
  src/cephadm/tests/test_networks.py
Owners: none

mgr-snap_schedule: do not use sqlite interface
  src/pybind/mgr/snap_schedule/fs/schedule_client.py
  src/pybind/mgr/snap_schedule/module.py
Owners: none

ceph-volume: follow up on "`get_first_*()` refactor"
  src/ceph-volume/ceph_volume/api/lvm.py
Owners: @ceph/ceph-volume

rgw: add OPT_BUCKET_SYNC_RUN to gc_ops_list, so that gc is initialised and send_chain does not crash.
  src/rgw/rgw_admin.cc
  src/rgw/rgw_rados.cc
Owners: none

ceph-volume: abort when passed devices have partitions
  src/ceph-volume/ceph_volume/devices/lvm/common.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_batch.py
  src/ceph-volume/ceph_volume/tests/util/test_arg_validators.py
  src/ceph-volume/ceph_volume/util/arg_validators.py
  src/ceph-volume/ceph_volume/util/device.py
Owners: @ceph/ceph-volume

pg_autoscaler/test: Modified unit-test for bulk flag
  src/pybind/mgr/pg_autoscaler/tests/test_cal_final_pg_target.py
Owners: none

qa/workunits/mon/pg_autoscaler: modified test script
  qa/suites/rados/singleton/all/pg-autoscaler.yaml
  qa/workunits/mon/pg_autoscaler.sh
Owners: none

mon: osd pool create <pool-name> with --bulk flag
  doc/rados/operations/pools.rst
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/mon/KVMonitor.cc
  src/mon/MonCommands.h
  src/mon/OSDMonitor.cc
  src/mon/OSDMonitor.h
  src/osd/OSDMap.cc
  src/osd/osd_types.h
  src/pybind/mgr/pg_autoscaler/module.py
Owners: none

qa/workunits/cephtool: modified test.sh
  qa/workunits/cephtool/test.sh
Owners: none

Added ReleasesNotes and documentation
  PendingReleaseNotes
  doc/rados/operations/placement-groups.rst
Owners: none

rgw: adding OPT_DATA_SYNC_RUN to gc_ops_list so that gc gets initialized for this command.
  src/rgw/rgw_admin.cc
Owners: none

mgr/prometheus: Refactoring: Introduce type aliases
  src/pybind/mgr/prometheus/module.py
Owners: none

mgr/prometheus: Fix regression with OSD/host details/overview dashboards
  doc/mgr/prometheus.rst
  monitoring/grafana/dashboards/host-details.json
  monitoring/grafana/dashboards/hosts-overview.json
  monitoring/grafana/dashboards/jsonnet/grafana_dashboards.jsonnet
  monitoring/grafana/dashboards/osd-device-details.json
  monitoring/grafana/dashboards/tests/features/host-details.feature
  monitoring/grafana/dashboards/tests/features/hosts_overview.feature
  monitoring/grafana/dashboards/tests/features/osd-device-details.feature
  src/pybind/mgr/prometheus/module.py
  src/pybind/mgr/prometheus/test_module.py
Owners: @ceph/dashboard
