Repository ronen-fr/ceph, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ceph/dashboard, @ceph/orchestrators, @ceph/ceph-volume

.github/CODEOWNERS:

# Dashboard team to review dashboard related code
/src/pybind/mgr/dashboard                       @ceph/dashboard
/qa/suites/rados/dashboard                      @ceph/dashboard
/qa/tasks/mgr/test_dashboard.py                 @ceph/dashboard
/qa/tasks/mgr/dashboard                         @ceph/dashboard
/monitoring/grafana                             @ceph/dashboard
/monitoring/prometheus                          @ceph/dashboard
/doc/mgr/dashboard.rst                          @ceph/dashboard

# For Orchestrator related PRs
/src/ceph-daemon                                @ceph/orchestrators
/src/pybind/mgr/ansible                         @ceph/orchestrators
/src/pybind/mgr/orchestrator_cli                @ceph/orchestrators
/src/pybind/mgr/orchestrator.py                 @ceph/orchestrators
/src/pybind/mgr/rook                            @ceph/orchestrators
/src/pybind/mgr/ssh                             @ceph/orchestrators
/src/pybind/mgr/test_orchestrator               @ceph/orchestrators
/src/python-common/ceph/deployment              @ceph/orchestrators
/qa/standalone/test_ceph_daemon.sh              @ceph/orchestrators
/qa/tasks/mgr/test_orchestrator_cli.py          @ceph/orchestrators
/doc/mgr/orchestrator_cli.rst                   @ceph/orchestrators
/doc/mgr/orchestrator_modules.rst               @ceph/orchestrators

#ceph-volume
/src/ceph-volume                                @ceph/ceph-volume
/doc/ceph-volume                                @ceph/ceph-volume

monitoring: fix display ceph_osd_in in Grafana panel
  monitoring/grafana/dashboards/ceph-cluster.json
  monitoring/grafana/dashboards/tests/features/ceph-cluster.feature
Owners: @ceph/dashboard

monitoring: Add unit tests for OSD panels in ceph-cluster dashboard
  monitoring/grafana/dashboards/tests/features/ceph-cluster.feature
Owners: @ceph/dashboard

mgr/cephadm: block removing last instance of _admin label
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
Owners: none

mgr/cephadm: block draining last _admin host
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
Owners: none

mgr/cephadm: extend extra_container_args to other service types
  src/python-common/ceph/deployment/drive_group.py
  src/python-common/ceph/deployment/service_spec.py
Owners: @ceph/orchestrators

mgr/cephadm: 5.1 ODF Only Upgrade Blocker
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
Owners: none

radosgw-admin: pass tenant to get_bucket_instance_info()
  src/rgw/rgw_admin.cc
Owners: none

rgw: Update "CEPH_RGW_DIR_SUGGEST_LOG_OP" for remove entries
  src/rgw/rgw_rados.cc
Owners: none

Revert "mgr/cephadm: 5.1 ODF Only Upgrade Blocker"
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
Owners: none

mgr/cephadm: Use beta repos for default images
  src/cephadm/cephadm
  src/pybind/mgr/cephadm/module.py
Owners: none

mgr/cephadm: use downstream beta image for SNMP default
  src/cephadm/cephadm
  src/pybind/mgr/cephadm/module.py
Owners: none

cls/rgw: rgw_dir_suggest_changes detects race with completion
  src/cls/rgw/cls_rgw.cc
Owners: none

rgw: make bucket index pending op expiration configureable
  src/cls/rgw/cls_rgw.cc
  src/cls/rgw/cls_rgw_types.h
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/rgw/rgw_bucket.cc
Owners: none

osd: add new CLS call to retrieve global configuration
  src/crimson/osd/objclass.cc
  src/objclass/objclass.h
  src/osd/objclass.cc
Owners: none

rgw: configurable instrumentation on bucket index transactions
  src/cls/rgw/cls_rgw.cc
  src/common/legacy_config_opts.h
  src/common/options.cc
Owners: none

osd/scrub: remove the unused should_requeue_blocked_ops()
  src/osd/PrimaryLogScrub.cc
  src/osd/PrimaryLogScrub.h
  src/osd/pg_scrubber.h
  src/osd/scrub_machine.cc
  src/osd/scrubber_common.h
Owners: none

osd/scrub: remove the unused should_requeue_blocked_ops()
  src/osd/PrimaryLogScrub.cc
  src/osd/PrimaryLogScrub.h
  src/osd/pg_scrubber.h
  src/osd/scrub_machine_lstnr.h
  src/osd/scrubber_common.h
Owners: none

osd/scrub: modify "classic" OSD scrub state-machine to support Crimson
  src/osd/OSD.cc
  src/osd/OSD.h
  src/osd/PG.cc
  src/osd/PG.h
  src/osd/PeeringState.cc
  src/osd/pg_scrubber.cc
  src/osd/pg_scrubber.h
  src/osd/scheduler/OpSchedulerItem.cc
  src/osd/scheduler/OpSchedulerItem.h
  src/osd/scrub_machine.cc
  src/osd/scrub_machine.h
  src/osd/scrub_machine_lstnr.h
  src/osd/scrubber_common.h
Owners: none

osd/scrub: tag replica scrub messages to identify stale events
  src/osd/OSD.cc
  src/osd/OSD.h
  src/osd/PG.cc
  src/osd/PG.h
  src/osd/pg_scrubber.cc
  src/osd/pg_scrubber.h
  src/osd/scheduler/OpSchedulerItem.cc
  src/osd/scheduler/OpSchedulerItem.h
  src/osd/scrubber_common.h
Owners: none

rgwlc: fix segfault resharding during lc
  src/rgw/rgw_lc.cc
Owners: none

rgw: additional configurable CLS instrumentation on bucket index TXs
  src/cls/rgw/cls_rgw.cc
  src/cls/rgw/cls_rgw_types.h
  src/objclass/class_api.cc
  src/objclass/objclass.h
  src/osd/objclass.cc
  src/rgw/rgw_rados.cc
  src/rgw/rgw_rados.h
Owners: none

python-common: DriveGroupSpec: move pacement validation to validate()
  src/python-common/ceph/deployment/drive_group.py
  src/python-common/ceph/deployment/service_spec.py
  src/python-common/ceph/tests/test_drive_group.py
Owners: @ceph/orchestrators

osd/scrub: remove reliance of Scrubber objects' logging on the PG
  src/osd/PG.h
  src/osd/PrimaryLogScrub.cc
  src/osd/pg_scrubber.cc
  src/osd/pg_scrubber.h
  src/osd/scrub_machine.cc
  src/osd/scrub_machine.h
  src/osd/scrub_machine_lstnr.h
Owners: none

mgr/cephadm: use GA image locations
  src/cephadm/cephadm
  src/pybind/mgr/cephadm/module.py
Owners: none

mgr/cephadm: 5.1 Multisite Blocker
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
Owners: none

noscrub fixes - 1st step
  qa/standalone/scrub/osd-scrub-test.sh
  src/osd/PG.cc
  src/osd/PG.h
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/pg_scrubber.h
  src/osd/scrubber_common.h
Owners: none

noscrub fixes - 2nd step
  src/osd/PG.cc
  src/osd/PG.h
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/pg_scrubber.h
  src/osd/scrubber_common.h
Owners: none

osd/scrub: cluster-logging unsolicited DigestUpdate events
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/pg_scrubber.h
  src/osd/scrubber/scrub_machine.cc
  src/osd/scrubber/scrub_machine.h
  src/osd/scrubber/scrub_machine_lstnr.h
Owners: none

noscrub fixes - 3rd step and checks
  src/osd/PG.cc
  src/osd/PG.h
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber_common.h
Owners: none

osd/scrub: restart snap trimming only after scrubbing is done
  src/osd/scrubber/pg_scrubber.cc
Owners: none

sbe testing - pgscrubber interface
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/pg_scrubber.h
  src/osd/scrubber/scrub_backend.cc
  src/osd/scrubber/scrub_backend.h
  src/test/osd/CMakeLists.txt
Owners: none

pgpool
  src/osd/OSD.cc
  src/osd/PG.cc
  src/osd/PG.h
  src/osd/PeeringState.h
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/scrub_backend.cc
Owners: none

test_scrubber_be
  src/osd/ECBackend.h
  src/osd/PG.h
  src/osd/PGBackend.h
  src/osd/ReplicatedBackend.h
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/pg_scrubber.h
  src/osd/scrubber/scrub_backend.cc
  src/osd/scrubber/scrub_backend.h
  src/osd/scrubber_common.h
  src/test/osd/test_scrubber_be.cc
Owners: none

working on test_scrubber_be.cc
  src/osd/scrubber/scrub_backend.cc
  src/osd/scrubber/scrub_backend.h
  src/test/osd/test_scrubber_be.cc
Owners: none

no-test run OK
  src/test/osd/CMakeLists.txt
  src/test/osd/test_scrubber_be.cc
Owners: none

no-test run OK
  src/include/types_fmt.h
  src/osd/PeeringState.h
  src/test/osd/CMakeLists.txt
  src/test/osd/test_scrubber_be.cc
Owners: none

cephadm: block bootstrap until user is aware of multisite regressions
  src/cephadm/cephadm
  src/cephadm/tests/test_cephadm.py
Owners: none

all uncommited work, as dev now in test2
  src/osd/OSD.cc
  src/osd/PG.h
  src/osd/PeeringState.h
  src/osd/PrimaryLogPG.cc
  src/osd/objclass.cc
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/scrub_backend.cc
  src/test/osd/test_scrubber_be.cc
Owners: none

osd/scrub: Add scrub duration to pg dump stats
  qa/standalone/scrub/osd-scrub-test.sh
  src/mon/PGMap.cc
  src/osd/osd_types.cc
  src/osd/osd_types.h
  src/osd/pg_scrubber.cc
  src/osd/pg_scrubber.h
  src/osd/scrub_machine.cc
  src/osd/scrub_machine.h
  src/osd/scrub_machine_lstnr.h
Owners: none

osd/scrub: expose scrubbing schedule to operator
  src/include/utime_fmt.h
  src/mon/PGMap.cc
  src/osd/PG.cc
  src/osd/PeeringState.cc
  src/osd/PeeringState.h
  src/osd/PrimaryLogPG.cc
  src/osd/osd_types.cc
  src/osd/osd_types.h
  src/osd/pg_scrubber.cc
  src/osd/pg_scrubber.h
  src/osd/scrubber_common.h
Owners: none
