Repository ronen-fr/ceph, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ceph/dashboard, @ceph/orchestrators, @ceph/ceph-volume

.github/CODEOWNERS:

# Dashboard team to review dashboard related code
/src/pybind/mgr/dashboard                       @ceph/dashboard
/qa/suites/rados/dashboard                      @ceph/dashboard
/qa/tasks/mgr/test_dashboard.py                 @ceph/dashboard
/qa/tasks/mgr/dashboard                         @ceph/dashboard
/monitoring/grafana                             @ceph/dashboard
/monitoring/prometheus                          @ceph/dashboard
/doc/mgr/dashboard.rst                          @ceph/dashboard

# For Orchestrator related PRs
/src/ceph-daemon                                @ceph/orchestrators
/src/pybind/mgr/ansible                         @ceph/orchestrators
/src/pybind/mgr/orchestrator_cli                @ceph/orchestrators
/src/pybind/mgr/orchestrator.py                 @ceph/orchestrators
/src/pybind/mgr/rook                            @ceph/orchestrators
/src/pybind/mgr/ssh                             @ceph/orchestrators
/src/pybind/mgr/test_orchestrator               @ceph/orchestrators
/src/python-common/ceph/deployment              @ceph/orchestrators
/qa/standalone/test_ceph_daemon.sh              @ceph/orchestrators
/qa/tasks/mgr/test_orchestrator_cli.py          @ceph/orchestrators
/doc/mgr/orchestrator_cli.rst                   @ceph/orchestrators
/doc/mgr/orchestrator_modules.rst               @ceph/orchestrators

#ceph-volume
/src/ceph-volume                                @ceph/ceph-volume
/doc/ceph-volume                                @ceph/ceph-volume

mds: correct whitespace
  src/mds/MDSRank.h
Owners: none

mds: test connections to bootstrapping MDS
  qa/suites/fs/thrash/workloads/overrides/races.yaml
  qa/tasks/cephfs/test_failover.py
  src/common/options.cc
  src/mds/MDSRank.cc
Owners: none

mds: defer messages to bootstrapping ranks
  src/mds/MDSMap.h
  src/mds/MDSRank.cc
  src/mds/MDSRank.h
Owners: none

rgw: in bucket reshard list, clarify new num shards is tentative
  src/cls/rgw/cls_rgw_types.cc
  src/rgw/rgw_admin.cc
Owners: none

rgw: "bucket check --fix" should delete damaged multipart uploads from bi
  src/cls/rgw/cls_rgw_client.cc
  src/cls/rgw/cls_rgw_client.h
  src/rgw/rgw_rados.cc
  src/rgw/rgw_rados.h
  src/rgw/rgw_tools.cc
  src/rgw/rgw_tools.h
Owners: none

mgr/dashboard: fix: get SMART data from single-daemon device
  src/pybind/mgr/dashboard/services/ceph_service.py
  src/pybind/mgr/dashboard/tests/test_ceph_service.py
Owners: @ceph/dashboard

pyhton-common: move some tests from cephadm/test_spec.py
  src/pybind/mgr/cephadm/tests/test_spec.py
  src/python-common/ceph/tests/test_service_spec.py
Owners: none

python-common: prettify `yaml.dump(MonitoringSpec())`
  src/python-common/ceph/deployment/service_spec.py
  src/python-common/ceph/tests/test_service_spec.py
Owners: @ceph/orchestrators

python-common: test_yaml(): add a few tests
  src/python-common/ceph/tests/test_service_spec.py
Owners: none

python-common: Move AlertManagerSpec below MonitoringSpec
  src/python-common/ceph/deployment/service_spec.py
Owners: @ceph/orchestrators

python-common: Reparent AlertManagerSpec to MonitoringSpec
  src/python-common/ceph/deployment/service_spec.py
  src/python-common/ceph/tests/test_service_spec.py
Owners: @ceph/orchestrators

mgr/cephadm: Add GrafanaSpec.initial_admin_password
  doc/cephadm/services/monitoring.rst
  src/pybind/mgr/cephadm/services/monitoring.py
  src/pybind/mgr/cephadm/templates/services/grafana/grafana.ini.j2
  src/pybind/mgr/cephadm/tests/test_services.py
  src/python-common/ceph/deployment/service_spec.py
  src/python-common/ceph/tests/test_service_spec.py
Owners: @ceph/orchestrators

mgr/cephadm: grafana.ini: Set `cookie_secure = true`
  src/pybind/mgr/cephadm/templates/services/grafana/grafana.ini.j2
  src/pybind/mgr/cephadm/tests/test_services.py
Owners: none

mgr/cephadm: provide initial snmp gateway support
  src/cephadm/cephadm
Owners: none

mgr/cephadm: Updated docs for snmp-gateway support
  doc/cephadm/services/index.rst
  doc/cephadm/services/snmp-gateway.rst
  doc/mgr/orchestrator.rst
Owners: none

mgr/cephadm: Add unit tests for snmp-gateway support
  src/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/tests/test_services.py
  src/pybind/mgr/cephadm/tests/test_spec.py
  src/python-common/ceph/tests/test_utils.py
Owners: none

mgr/cephadm: Add snmp-gateway service support
  src/cephadm/cephadm
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/services/monitoring.py
  src/pybind/mgr/cephadm/templates/services/alertmanager/alertmanager.yml.j2
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
  src/python-common/ceph/deployment/service_spec.py
  src/python-common/ceph/deployment/utils.py
  src/python-common/ceph/utils.py
Owners: @ceph/orchestrators

mgr/cephadm: SNMP: use of python3 enums
  src/pybind/mgr/cephadm/tests/test_spec.py
  src/pybind/mgr/orchestrator/module.py
  src/python-common/ceph/deployment/service_spec.py
  src/python-common/ceph/tests/test_service_spec.py
Owners: @ceph/orchestrators

mgr/cephadm: SNMP: Don't write default values into the store
  src/pybind/mgr/cephadm/tests/test_spec.py
  src/pybind/mgr/orchestrator/module.py
  src/python-common/ceph/deployment/service_spec.py
Owners: @ceph/orchestrators

mgr/cephadm: SNMP: don't write urls manually
  src/pybind/mgr/cephadm/services/monitoring.py
Owners: none

python-common: move test_invalid_snmp_gateway_spec from mgr/cephadm
  src/pybind/mgr/cephadm/tests/test_spec.py
  src/python-common/ceph/tests/test_service_spec.py
Owners: none

python-common: move test_valid_snmp_gateway_spec from mgr/cephadm
  src/pybind/mgr/cephadm/tests/test_spec.py
  src/python-common/ceph/tests/test_service_spec.py
Owners: none

qa: test that scrub causes reintegration
  qa/tasks/cephfs/filesystem.py
  qa/tasks/cephfs/test_strays.py
Owners: none

mds: trigger stray reintegration when loading dentry
  src/mds/CDentry.cc
Owners: none

osd: PeeringState: fix selection order in calc_replicated_acting_stretch
  src/osd/PeeringState.cc
Owners: none

rgw: Report empty endpoints as error instead of crashing
  src/rgw/rgw_admin.cc
  src/rgw/rgw_rados.cc
  src/rgw/rgw_trim_mdlog.cc
  src/rgw/rgw_zone.h
Owners: none

mgr/prometheus: track individual healthchecks as metrics
  doc/mgr/prometheus.rst
  monitoring/prometheus/alerts/ceph_default_alerts.yml
  monitoring/prometheus/alerts/test_alerts.yml
  src/pybind/mgr/prometheus/module.py
Owners: @ceph/dashboard

mgr/prometheus: add test cases and validation using tox
  monitoring/prometheus/alerts/ceph_default_alerts.yml
  monitoring/prometheus/tests/README.md
  monitoring/prometheus/tests/__init__.py
  monitoring/prometheus/tests/requirements.txt
  monitoring/prometheus/tests/settings.py
  monitoring/prometheus/tests/test_alerts.yml
  monitoring/prometheus/tests/test_syntax.py
  monitoring/prometheus/tests/test_unittests.py
  monitoring/prometheus/tests/tox.ini
  monitoring/prometheus/tests/utils.py
  monitoring/prometheus/tests/validate_rules.py
Owners: @ceph/dashboard

monitoring/prometheus: Add cmake integration
  CMakeLists.txt
  monitoring/CMakeLists.txt
  monitoring/prometheus/CMakeLists.txt
  monitoring/prometheus/tests/CMakeLists.txt
  monitoring/prometheus/tests/tox.ini
Owners: @ceph/dashboard

mgr/prometheus: update promtool testcase location
  src/test/CMakeLists.txt
Owners: none

mgr/prometheus: remove cmake tests
  monitoring/prometheus/tests/CMakeLists.txt
Owners: @ceph/dashboard

mgr/prometheus: Update rule format and enhance SNMP support
  monitoring/prometheus/alerts/ceph_default_alerts.yml
  monitoring/prometheus/tests/test_alerts.yml
  monitoring/prometheus/tests/validate_rules.py
  monitoring/snmp/CEPH-MIB.txt
  monitoring/snmp/README.md
Owners: @ceph/dashboard

osd/scrub: create a separate chunk size conf for shallow scrubs
  qa/standalone/scrub/osd-scrub-snaps.sh
  qa/standalone/scrub/scrub-helpers.sh
  src/common/options/osd.yaml.in
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/pg_scrubber.h
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-pg-scrub-modal/osd-pg-scrub-modal.options.ts
Owners: @ceph/dashboard

osd/scrub: fix clang compilation issues
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/pg_scrubber.h
Owners: none

osd/scrub: report replicas slow to repond to scrub requests
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/pg_scrubber.h
Owners: none

rbd-mirror: untangle StateBuilder::is_linked() overloads
  src/tools/rbd_mirror/image_replayer/StateBuilder.cc
  src/tools/rbd_mirror/image_replayer/StateBuilder.h
  src/tools/rbd_mirror/image_replayer/journal/StateBuilder.cc
  src/tools/rbd_mirror/image_replayer/journal/StateBuilder.h
  src/tools/rbd_mirror/image_replayer/snapshot/StateBuilder.cc
  src/tools/rbd_mirror/image_replayer/snapshot/StateBuilder.h
Owners: none

rbd-mirror: drop redundant initialization of StateBuilder members
  src/tools/rbd_mirror/image_replayer/StateBuilder.h
Owners: none

test/rbd_mirror: drop redundant MockJournaler instances
  src/test/rbd_mirror/image_replayer/test_mock_PrepareRemoteImageRequest.cc
Owners: none

rbd-mirror: don't default replay_requires_remote_image() implementation
  src/tools/rbd_mirror/image_replayer/StateBuilder.h
  src/tools/rbd_mirror/image_replayer/journal/StateBuilder.h
Owners: none

rbd-mirror: fix races in snapshot-based mirroring deletion propagation
  src/test/rbd_mirror/image_replayer/test_mock_PrepareRemoteImageRequest.cc
  src/tools/rbd_mirror/image_replayer/PrepareRemoteImageRequest.cc
  src/tools/rbd_mirror/image_replayer/PrepareRemoteImageRequest.h
Owners: none
