Repository ronen-fr/ceph, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ceph/dashboard, @ceph/orchestrators, @ceph/ceph-volume

.github/CODEOWNERS:

# Dashboard team to review dashboard related code
/src/pybind/mgr/dashboard                       @ceph/dashboard
/qa/suites/rados/dashboard                      @ceph/dashboard
/qa/tasks/mgr/test_dashboard.py                 @ceph/dashboard
/qa/tasks/mgr/dashboard                         @ceph/dashboard
/monitoring/grafana                             @ceph/dashboard
/monitoring/prometheus                          @ceph/dashboard
/doc/mgr/dashboard.rst                          @ceph/dashboard

# For Orchestrator related PRs
/src/ceph-daemon                                @ceph/orchestrators
/src/pybind/mgr/ansible                         @ceph/orchestrators
/src/pybind/mgr/orchestrator_cli                @ceph/orchestrators
/src/pybind/mgr/orchestrator.py                 @ceph/orchestrators
/src/pybind/mgr/rook                            @ceph/orchestrators
/src/pybind/mgr/ssh                             @ceph/orchestrators
/src/pybind/mgr/test_orchestrator               @ceph/orchestrators
/src/python-common/ceph/deployment              @ceph/orchestrators
/qa/standalone/test_ceph_daemon.sh              @ceph/orchestrators
/qa/tasks/mgr/test_orchestrator_cli.py          @ceph/orchestrators
/doc/mgr/orchestrator_cli.rst                   @ceph/orchestrators
/doc/mgr/orchestrator_modules.rst               @ceph/orchestrators

#ceph-volume
/src/ceph-volume                                @ceph/ceph-volume
/doc/ceph-volume                                @ceph/ceph-volume

rgw: read shard count using remote bilog info during bucket sync
  src/rgw/rgw_data_sync.cc
Owners: none

rgw: InitBucketFullSyncStatusCR gets num shards from remote
  src/rgw/rgw_data_sync.cc
  src/rgw/rgw_data_sync.h
Owners: none

rgw: RGWRemoteBucketManager constructor takes num_shards
  src/rgw/rgw_data_sync.cc
  src/rgw/rgw_data_sync.h
Owners: none

rgw: sync checkpoint gets num_shards from remote bilog info
  src/rgw/rgw_sync_checkpoint.cc
Owners: none

rgw: RGWListBucketIndexesCR only needs zero shard
  src/rgw/rgw_data_sync.cc
Owners: none

rgw: RunBucketSourceSync uses num_shards from remote bilog info
  src/rgw/rgw_data_sync.cc
Owners: none

rgw: RGWCollectBucketSyncStatusCR doesn't need the shard count
  src/rgw/rgw_data_sync.cc
Owners: none

rgw: RGWOp_BILog_Status reads full status unconditionally
  src/rgw/rgw_rest_log.cc
Owners: none

rgw: resize status vector before reading inc_sync_status
  src/rgw/rgw_admin.cc
  src/rgw/rgw_rest_log.cc
Owners: none

rgw: rgw_read_bucket_inc_sync_status doesn't need bucket info
  src/rgw/rgw_admin.cc
  src/rgw/rgw_data_sync.cc
  src/rgw/rgw_data_sync.h
  src/rgw/rgw_rest_log.cc
  src/rgw/rgw_sync_checkpoint.cc
Owners: none

radosgw-admin: bucket sync status handles missing full status
  src/rgw/rgw_admin.cc
Owners: none

radosgw-admin: bucket sync status guards against shard count mismatch
  src/rgw/rgw_admin.cc
Owners: none

rgw: remove per-shard sync status object after incremental sync finishes
  src/rgw/rgw_data_sync.cc
Owners: none

rgw: prevent reshard from creating too many log generations
  src/rgw/rgw_admin.cc
  src/rgw/rgw_reshard.cc
  src/rgw/rgw_reshard.h
Owners: none

rgw: enable RGWReshard thread on any zone that supports it
  src/rgw/rgw_rados.cc
Owners: none

rgw: fix for uninitialized oldest_gen/latest_gen
  src/rgw/rgw_data_sync.h
Owners: none

radosgw-admin: allow reshard commands in multisite on secondary
  src/rgw/rgw_admin.cc
Owners: none

rgw: under fips, set flag to allow md5 in select rgw ops
  src/common/ceph_crypto.cc
  src/common/ceph_crypto.h
  src/rgw/rgw_bucket.cc
  src/rgw/rgw_etag_verifier.h
  src/rgw/rgw_file.h
  src/rgw/rgw_op.cc
  src/rgw/rgw_putobj_processor.cc
  src/rgw/rgw_rados.cc
  src/rgw/rgw_rest_swift.cc
  src/rgw/rgw_sal_rados.cc
  src/rgw/rgw_tools.h
  src/rgw/rgw_zone.cc
  src/rgw/services/svc_zone.cc
Owners: none

rgw: under fips, set flag to allow md5 in select rgw ops - for review
  src/rgw/rgw_crypt.cc
  src/rgw/rgw_keystone.cc
Owners: none

rgw: Rename REMOVE_OBJ to INVALIDATE_OBJ
  src/rgw/rgw_cache.cc
  src/rgw/rgw_cache.h
  src/rgw/services/svc_notify.cc
  src/rgw/services/svc_sys_obj_cache.cc
Owners: none

rgw: url_decode before parsing copysource in copyobject
  src/rgw/rgw_op.cc
Owners: none

librgw: treat empty root path as "/" on mount
  src/rgw/rgw_file.cc
  src/rgw/rgw_file.h
  src/test/librgw_file_nfsns.cc
Owners: none

ceph-volume: implement lvm wrapper
  src/ceph-volume/ceph_volume/api/lvm.py
  src/ceph-volume/ceph_volume/process.py
  src/ceph-volume/ceph_volume/tests/api/test_lvm.py
Owners: @ceph/ceph-volume

cephadm: mount rootfs in osd containers
  src/cephadm/cephadm
Owners: none

rgw: fix `bi put` not using right bucket index shard
  src/rgw/rgw_rados.cc
Owners: none

rgw: clean up WITH_RADOSGW_BEAST_OPENSSL
  src/rgw/rgw_asio_frontend.cc
Owners: none

spawn: use explicit strand executor
  src/common/async/yield_context.h
  src/rgw/rgw_aio.cc
  src/rgw/rgw_aio_throttle.h
  src/rgw/rgw_asio_frontend.cc
  src/rgw/rgw_d3n_cacherequest.h
  src/rgw/rgw_notify.cc
  src/rgw/rgw_sync_checkpoint.cc
  src/test/rgw/test_rgw_dmclock_scheduler.cc
  src/test/rgw/test_rgw_reshard_wait.cc
  src/test/rgw/test_rgw_throttle.cc
Owners: none

rgw/beast: use explicit executor type for tcp socket and stream
  src/rgw/rgw_asio_frontend.cc
Owners: none

rgw/beast: replace beast::tcp_stream with manual timeouts
  src/rgw/rgw_asio_frontend.cc
  src/rgw/rgw_asio_frontend_timer.h
Owners: none

rgw/beast: reference count Connections for timeout_handler
  src/rgw/rgw_asio_frontend.cc
  src/rgw/rgw_asio_frontend_timer.h
Owners: none

rgwi/beast: stream timer with duration 0 disables timeout
  src/rgw/rgw_asio_frontend_timer.h
Owners: none

mgr/dashboard: Fix the alignment in table body
  src/pybind/mgr/dashboard/frontend/src/styles/vendor/_style-overrides.scss
Owners: @ceph/dashboard

rgw/multisite: RunBucketSourcesSync no longer takes optional target
  src/rgw/rgw_data_sync.cc
Owners: none

Revert "rgw: bucket sync: track progress by stack id"
  src/rgw/rgw_data_sync.cc
Owners: none

Revert "rgw: cr: add prealloc_stack()"
  src/rgw/rgw_coroutine.cc
  src/rgw/rgw_coroutine.h
Owners: none

rgw/multisite: handle shard_progress correctly in RunBucketSources
  src/rgw/rgw_data_sync.cc
Owners: none

mgr/dashboard: About modal version to 5 instead of 5.x
  src/pybind/mgr/dashboard/frontend/src/app/shared/constants/app.constants.ts
Owners: @ceph/dashboard

rgw: "reshard cancel" errors with "invalid argument"
  src/rgw/rgw_admin.cc
Owners: none

rgw: keep underscore in metatdata key
  src/rgw/rgw_asio_client.cc
  src/rgw/rgw_auth_s3.cc
  src/rgw/rgw_common.cc
Owners: none

rgwlc: permit lifecycle processing for a single bucket
  doc/man/8/radosgw-admin.rst
  src/rgw/rgw_admin.cc
  src/rgw/rgw_lc.cc
  src/rgw/rgw_lc.h
  src/rgw/rgw_rados.cc
  src/rgw/rgw_rados.h
Owners: none
