Repository ronen-fr/ceph, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ceph/dashboard, @ceph/orchestrators, @ceph/ceph-volume

.github/CODEOWNERS:

# Dashboard team to review dashboard related code
/src/pybind/mgr/dashboard                       @ceph/dashboard
/qa/suites/rados/dashboard                      @ceph/dashboard
/qa/tasks/mgr/test_dashboard.py                 @ceph/dashboard
/qa/tasks/mgr/dashboard                         @ceph/dashboard
/monitoring/grafana                             @ceph/dashboard
/monitoring/prometheus                          @ceph/dashboard
/doc/mgr/dashboard.rst                          @ceph/dashboard

# For Orchestrator related PRs
/src/ceph-daemon                                @ceph/orchestrators
/src/pybind/mgr/ansible                         @ceph/orchestrators
/src/pybind/mgr/orchestrator_cli                @ceph/orchestrators
/src/pybind/mgr/orchestrator.py                 @ceph/orchestrators
/src/pybind/mgr/rook                            @ceph/orchestrators
/src/pybind/mgr/ssh                             @ceph/orchestrators
/src/pybind/mgr/test_orchestrator               @ceph/orchestrators
/src/python-common/ceph/deployment              @ceph/orchestrators
/qa/standalone/test_ceph_daemon.sh              @ceph/orchestrators
/qa/tasks/mgr/test_orchestrator_cli.py          @ceph/orchestrators
/doc/mgr/orchestrator_cli.rst                   @ceph/orchestrators
/doc/mgr/orchestrator_modules.rst               @ceph/orchestrators

#ceph-volume
/src/ceph-volume                                @ceph/ceph-volume
/doc/ceph-volume                                @ceph/ceph-volume

rgw: add streamlined ways to handle indexless buckets correctly
  src/rgw/rgw_bucket_layout.h
  src/rgw/rgw_common.h
Owners: none

rgw: update indexless bucket check for bucket stats
  src/rgw/rgw_bucket.cc
Owners: none

rgw: add indexless bucket logic to "bucket radoslist"
  src/rgw/rgw_admin.cc
  src/rgw/rgw_orphan.cc
  src/rgw/rgw_orphan.h
Owners: none

osd/PeeringState: separate history's pruub from pg's
  src/osd/PeeringState.cc
  src/osd/PeeringState.h
Owners: none

osd/scrub: warn if a secondaries are slow to send their scrub maps
  src/common/options/osd.yaml.in
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/pg_scrubber.h
Owners: none

rgw/multisite: metadata sync only retries on errors
  src/rgw/rgw_sync.cc
Owners: none

docs: Added noautoscale to docs + release notes
  PendingReleaseNotes
  doc/rados/operations/placement-groups.rst
Owners: none

qa: Added workunit test for noautoscale flag
  qa/suites/rados/singleton/all/test-noautoscale-flag.yaml
  qa/workunits/mon/test_noautoscale_flag.sh
Owners: none

pybind/mgr/autoscaler: Introduce noautoscale flag
  src/pybind/mgr/pg_autoscaler/module.py
Owners: none

fixup - to be squashed
  src/osd/scrubber/pg_scrubber.cc
Owners: none

osd/scrub: remove I/O (store) direct access from the Scrubber Backend
  src/osd/scrubber/ScrubStore.cc
  src/osd/scrubber/ScrubStore.h
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/pg_scrubber.h
  src/osd/scrubber/scrub_backend.cc
  src/osd/scrubber/scrub_backend.h
Owners: none

fixing scrub-test
  src/osd/scrubber/scrub_backend.cc
Owners: none

saving non-staged changes from fix_4
  src/osd/OSD.cc
  src/osd/scrubber/osd_scrub_sched.cc
  src/osd/scrubber/pg_scrubber.cc
Owners: none

test/librados: fixing compilation warnings
  src/test/librados/aio_cxx.cc
Owners: none

mgr/volumes: Improve debugging, add clone failure logs
  src/pybind/mgr/volumes/fs/async_cloner.py
Owners: none

qa: Add tests snapshot clone failure with quota
  qa/tasks/cephfs/test_volumes.py
Owners: none

python-common/ceph/deployment/drive_group: fix 'orch ls --format yaml'
  src/python-common/ceph/deployment/drive_group.py
  src/python-common/ceph/tests/test_drive_group.py
Owners: @ceph/orchestrators

mgr/volumes: Fix subvoume snapshot clone failure
  src/pybind/mgr/volumes/fs/async_cloner.py
  src/pybind/mgr/volumes/fs/operations/versions/subvolume_v1.py
  src/pybind/mgr/volumes/fs/operations/versions/subvolume_v2.py
Owners: none

mgr/dashboard: Cluster Expansion - Review Section: fixes and improvements
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/05-create-cluster-review.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/create-cluster/create-cluster-review.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/create-cluster/create-cluster-review.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/create-cluster/create-cluster-review.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/hosts.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/hosts.component.spec.ts
Owners: @ceph/dashboard

rgw: fix bucket index list minor calculation bug
  src/cls/rgw/cls_rgw.cc
Owners: none

rgw: fix bucket index listing count bug
  src/cls/rgw/cls_rgw.cc
Owners: none

qa: test inline compat set on older MDSMap
  qa/suites/fs/upgrade/mds_upgrade_sequence/tasks/1-volume/3-inline/no.yaml
  qa/suites/fs/upgrade/mds_upgrade_sequence/tasks/1-volume/3-inline/yes.yaml
  qa/suites/fs/upgrade/mds_upgrade_sequence/tasks/1-volume/4-verify.yaml
Owners: none

mds: throw some feature definitions in static memory
  src/mds/MDSMap.h
Owners: none

mds: add inline feature to MDS bootstrap incompat
  src/mds/FSMap.cc
  src/mds/MDSMap.cc
Owners: none

one repair test OK
  src/osd/scrubber/scrub_backend.cc
  src/osd/scrubber/scrub_backend.h
Owners: none

fix to teu test?
  src/osd/scrubber/scrub_backend.cc
Owners: none

special not found
  src/osd/scrubber/scrub_backend.cc
  src/osd/scrubber/scrub_backend.h
Owners: none

squash
  src/osd/scrubber/scrub_backend.cc
  src/osd/scrubber/scrub_backend.h
Owners: none

osd/scrub: fix unintended changes to scrub (cluster)logs
  src/osd/scrubber/scrub_backend.cc
  src/osd/scrubber/scrub_backend.h
Owners: none

squash
  src/osd/scrubber/scrub_backend.cc
  src/osd/scrubber/scrub_backend.h
Owners: none

qa: krbd rxbounce test
  qa/suites/krbd/rxbounce/%
  qa/suites/krbd/rxbounce/.qa
  qa/suites/krbd/rxbounce/bluestore-bitmap.yaml
  qa/suites/krbd/rxbounce/ceph/.qa
  qa/suites/krbd/rxbounce/ceph/ceph.yaml
  qa/suites/krbd/rxbounce/clusters/.qa
  qa/suites/krbd/rxbounce/clusters/fixed-3.yaml
  qa/suites/krbd/rxbounce/conf.yaml
  qa/suites/krbd/rxbounce/tasks/.qa
  qa/suites/krbd/rxbounce/tasks/krbd_rxbounce.yaml
  qa/workunits/rbd/krbd_rxbounce.sh
Owners: none

qa/suites/krbd: add legacy+rxbounce and crc+rxbounce coverage
  qa/suites/krbd/basic/ms_mode/crc$/.qa
  qa/suites/krbd/basic/ms_mode/crc$/crc-rxbounce.yaml
  qa/suites/krbd/basic/ms_mode/crc$/crc.yaml
  qa/suites/krbd/basic/ms_mode/legacy$/.qa
  qa/suites/krbd/basic/ms_mode/legacy$/legacy-rxbounce.yaml
  qa/suites/krbd/basic/ms_mode/legacy$/legacy.yaml
  qa/suites/krbd/fsx/ms_mode$/crc-rxbounce.yaml
  qa/suites/krbd/fsx/ms_mode$/legacy-rxbounce.yaml
  qa/suites/krbd/fsx/ms_mode$/prefer-crc.yaml
  qa/suites/krbd/rbd-nomount/ms_mode/crc$/.qa
  qa/suites/krbd/rbd-nomount/ms_mode/crc$/crc-rxbounce.yaml
  qa/suites/krbd/rbd-nomount/ms_mode/crc$/crc.yaml
  qa/suites/krbd/rbd-nomount/ms_mode/legacy$/.qa
  qa/suites/krbd/rbd-nomount/ms_mode/legacy$/legacy-rxbounce.yaml
  qa/suites/krbd/rbd-nomount/ms_mode/legacy$/legacy.yaml
  qa/suites/krbd/rbd/ms_mode/crc$/.qa
  qa/suites/krbd/rbd/ms_mode/crc$/crc-rxbounce.yaml
  qa/suites/krbd/rbd/ms_mode/crc$/crc.yaml
  qa/suites/krbd/rbd/ms_mode/legacy$/.qa
  qa/suites/krbd/rbd/ms_mode/legacy$/legacy-rxbounce.yaml
  qa/suites/krbd/rbd/ms_mode/legacy$/legacy.yaml
  qa/suites/krbd/singleton/ms_mode$/crc-rxbounce.yaml
  qa/suites/krbd/singleton/ms_mode$/legacy-rxbounce.yaml
  qa/suites/krbd/singleton/ms_mode$/prefer-crc.yaml
  qa/suites/krbd/thrash/ms_mode$/crc-rxbounce.yaml
  qa/suites/krbd/thrash/ms_mode$/legacy-rxbounce.yaml
  qa/suites/krbd/thrash/ms_mode$/prefer-crc.yaml
Owners: none

rbd: recognize rxbounce map option
  doc/man/8/rbd.rst
  src/tools/rbd/action/Kernel.cc
Owners: none

rbd: promote rbd-nbd attach and detach at rbd integrated cli
  doc/man/8/rbd.rst
  src/test/cli/rbd/help.t
  src/tools/rbd/action/Device.cc
  src/tools/rbd/action/Ggate.cc
  src/tools/rbd/action/Kernel.cc
  src/tools/rbd/action/Nbd.cc
  src/tools/rbd/action/Wnbd.cc
Owners: none

rbd: improve conditional compilation specific checks
  src/tools/rbd/action/Ggate.cc
  src/tools/rbd/action/Kernel.cc
  src/tools/rbd/action/Nbd.cc
  src/tools/rbd/action/Wnbd.cc
Owners: none

qa/workunits/rbd: use rbd cli for device attach/detach commands
  qa/workunits/rbd/rbd-nbd.sh
Owners: none

rbd-nbd: provide a flag to show device cookie with map command
  src/tools/rbd_nbd/rbd-nbd.cc
Owners: none

rbd: add --show-cookie/--cookie option for map/attach commands
  doc/man/8/rbd.rst
  src/test/cli/rbd/help.t
  src/tools/rbd/action/Device.cc
  src/tools/rbd/action/Nbd.cc
Owners: none

rbd-nbd: mandate device cookie for attach command
  src/tools/rbd_nbd/rbd-nbd.cc
Owners: none

rbd-nbd: generate and send device cookie with netlink connect request
  src/tools/rbd_nbd/nbd-netlink.h
  src/tools/rbd_nbd/rbd-nbd.cc
Owners: none
